@CHARSET "ISO-8859-1";

.containerForUserDetails{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    min-width: 2000px;
    padding-top: 20px;
    margin-top: 270px;
    margin-left: auto;
    margin-right: auto;
    //height: auto;
    min-height: 50em;
    background-color: white;
    box-shadow: 5px 5px gray;
    border: 1px solid gray;
}

.select-button {
    background-color: #00FF00;
    color: black;
    width: 100%;
    padding: 8px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.userDetails h2{
	font-size:30px;
}

.userDetails table{
	width:1000px;
}

.userDetails table tr th{
	font-size:25px;
}

.userDetails table tr td{
	font-size:25px;
}