@CHARSET "ISO-8859-1"; */
.container{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 1420px;
    padding-top: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100em;
    background-color: white;
    box-shadow: 5px 5px gray;
    border: 1px solid gray;
}

.list-button {
    background-color: #00FF00; /* green */
    color: black;
    width: 100%;
    padding: 8px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

 .nav{
     //padding-top: 40px;
     box-sizing: border-box;
     height: 700px;
     margin: auto;
     //border: 2px solid black;
     margin-top: 100px;
     width: 1420px;
 }

 .nav .transparent{
     box-sizing: border-box;
     //background-color: darkgrey;
     //opacity: 0.5%;
     height: 700px;
     width: 420px;
     //border: 2px solid black;
     float: left;
     margin: auto;

 }

 .nav .transparent .color{
     box-sizing: border-box;
     background-color: darkturquoise;
     margin-right: 20px;
     margin-bottom: 20px;
     height: 650px;
     //border: black;
     //opacity: 0.5;
     float: left;
 }

.nav .transparent .color .text p{
    box-sizing: border-box;
    //border: 2px solid deeppink;
    margin-top: 100px;
    margin-right: 30px;
    margin-left: 30px;
    //margin-bottom: 100px;
    font-family: "Times New Roman";
    font-weight: 600;
    color: white;
    font-size: 60px;
    font-style: italic;
}

.nav .transparent .color .text{
    font-family: "URW Chancery L";
    font-variant: normal;
    font-weight: bold;
    color: white;
    font-size: 35px;
    //font-style: italic;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
}



.nav .homeImg{
    float: left;
    box-sizing: border-box;
    //border: 2px solid black;
    width:1000px;
    height:650px;
    margin: auto;
}

.nav .homeImg img{
	width:1000px;
    height:650px;
}


.container h1{
    font-family: "Times New Roman";
    padding-top: 50px;
    //margin-left: 20px;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: darkblue;
    text-shadow: 2px 2px grey;
}

.packagesBlock{
    box-sizing: border-box;
    min-height: 3000px;
    margin: auto;
    //border: 2px solid black;
    margin-top: 50px;
}


#packagesBase1{
	border: 2px solid grey;
    box-sizing: border-box;
    min-width: 1050px;
    margin-top: 50px;
    margin-left: 100px;
    float: left;
}

#packagesBase1 img{
/* 	border: 2px solid black; */
/*  box-sizing: border-box; */
     width: 1250px; 
     height: 800px;
/*  margin-top: 50px; */
/*  float: left; */
}

#packagesBase2{
	border: 2px solid grey;
    box-sizing: border-box;
    min-width: 1050px;
    margin-left: 600px;
    margin-top: 100px;
    float: left;
}

#packagesBase2 img{
/* 	border: 2px solid black; */
/*     box-sizing: border-box; */
     width: 1250px; 
     height: 800px; 
/*     margin-top: 50px; */
/*     float: left; */
}

#packagesBase3{
	border: 2px solid grey;
    box-sizing: border-box;
    min-width: 1050px;
    margin-top: 150px;
    margin-left: 100px;
    float: left;
}

#packagesBase3 img{
/* 	border: 2px solid black; */
/*     box-sizing: border-box; */
     width: 1250px; 
     height: 800px; 
/*     margin-top: 50px; */
/*     float: left; */
}

#packagesBase1,#packagesBase2,#packagesBase3, h2{
    //border: 1px solid blue;
    padding: 0px 10px 0px;
    text-align: center;
}

.quote-box{
    box-sizing: border-box;
    width: 800px;
    height: 700px;
    border: 2px solid green;
    margin: 150px auto;
}

blockquote{
    width: 600px;
    margin-top: 50px;
    margin: auto;
    background-image: url("homeImages/quotation start.jpg");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 100px;
}

blockquote #quote{
    text-align: center;
    background-image: url("homeImages/quotation end.png");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 150px;

    font-family: "Droid Sans";
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
    color: darkblue;
    text-shadow: 2px 3px silver;
}

blockquote hr{
    width: 300px;
}

blockquote h2{
    text-align: center;
}

blockquote p{
    text-align: center;
}